#spectateFormBackground {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#spectateForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    max-width: 400px;
    width: 90vw;
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

    #spectateForm h2 {
        margin-top: 0;
    }

.switch {
    display: inline-block;
    vertical-align: middle;
}

    .switch input {
        display: none;
    }

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s ease;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: black;
}

.slider:hover {
    background-color: #ddd;
}

input:checked + .slider:hover {
    background-color: #333;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.close {
    position: absolute;
    top: 32px;
    right: 32px;
    transform: translate(50%, -50%);
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
}

    .close:hover {
        color: #333;
        background-color: rgba(0, 0, 0, 0.1);
    }

#submitButton {
    background-color: black;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 0 auto;
    max-width: 260px;
    width: 80%;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

    #submitButton:hover {
        background-color: #333;
        cursor: pointer;
        transform: translateY(-3px);
    }

#submitButton:disabled {
    background-color: grey;
}

.pop-up-p {
    margin-bottom: 8px;
}

#w-div {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    transition: background-color 0.3s ease;
    font-family: sans-serif;
}
#w-div.black-bg {
    background-color: black;
}

#validationDiv {
    height: auto;
    transform-origin: bottom;
    overflow: hidden;
    transition: margin .25s, transform 0.25s;
}

#validationDiv.squished {
    margin-top: -5em;
    transform: scaleY(0);
}


#validateText {
}


.textPopUpBackground {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.textPopUpContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    max-width: 400px;
    width: 90vw;
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#textPopUpOkButton {
    background-color: black;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 0 auto;
    max-width: 100px;
    width: 80%;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

#textPopUpOkButton:hover {
    background-color: #333;
    cursor: pointer;
    transform: translateY(-3px);
}

#textPopUpText {
    text-align:center;
}